//-----
// Footer Styles
//-----

.footer{
  bottom: 0;
  height: $footer_height;
  position: fixed;
  width: 100%;

  background-color: $header-footer-bg-color;
}

.footer-copyright{
  display: none;

  @include breakpoint($large-screen){
    display: block;
    float: left;
    margin: .7rem 0 0 2rem;

    font-size: 1.25rem;

    p{
      margin: 0;
    }
  }
}

.footer-container{
  @include pie-clearfix;

  display: table;
  margin: 0 auto;

  text-shadow: $header-footer-text-shadow;

  a{
    @include hover-fade();
  }

  @include breakpoint($medium-screen){
    display: block;
  }
}

.footer-nav{
    @include horizontal-list(.75rem, left);

    display: block;
    float: right;
    margin-right: 2rem;

    font-size: 1.25rem;

    a{
      display: inline-block;
      margin: .7rem 0 0 0;

      color: $header-footer-a-color;
    }

    ul{
      @include pie-clearfix;
    }
}

.footer-social{
  display: none;

  @include breakpoint($medium-screen){
    @include horizontal-list(.75rem, left);

    display: block;
    float: left;
    margin-left: 1.5rem;

    img{
      height: 50px;
    }
  }

  @include breakpoint($large-screen){
    display: table;
    float: none;
    margin: 0 auto;

    ul{
      @include pie-clearfix;
    }
  }
}
