//-----
// Header Styles
//-----

$padding-from-pic: .5rem;

.nav{
  height: $header-height;
  width: 100%;
  z-index: 20;

  font-family: $font-stack;

  background-color: $header-footer-bg-color;
  text-shadow: $header-footer-text-shadow;
}

.nav-container{
  @include pie-clearfix;

  display: table;
  height: 100%;
  margin: 0 auto;
  width: 19rem;

  @include breakpoint($medium-screen){
    width: 70%;
  }

  @include breakpoint($large-screen){
    width: 60%;
  }
}

.nav-links{
  @include horizontal-list(.5rem, left);

  float: left;
  padding-left: $padding-from-pic;

  font-size: 1.25rem;

  a{
    @include hover-fade();

    color: $header-footer-a-color;
  }

  @include breakpoint($medium-screen){
    float: right;
    padding: 1.4rem 0 0 0;

    font-size: 1.25rem;
  }
}

.nav-name{
  float: left;
  padding-left: $padding-from-pic;

  font-size: 1.75rem;

  a{
    @include hover-fade();

    color: $header-footer-a-color;
  }
}

.nav-picture{
  height: $header-height;
  float: left;

  img{
    height: $header-height;
    border-radius: 35px;
  }
}

.nav-twitter{
  display: none;

  @include breakpoint($medium-screen){
    display: block;
    float: left;
    padding-left: $padding-from-pic;
  }
}

.nav-name-twitter-wrapper{
  @include breakpoint($medium-screen){
    width: 9rem;
    float: left;

    a{
      @include hover-fade();

      color: $header-footer-a-color;
    }
  }
}
