//-----
// Index
//-----

$index-breakpoint: 64rem;

.content{
  display: table-cell;
  vertical-align: middle;

  font-family: $font-stack;
  font-weight: 200;
}

.index-bg{
  display: table;
  min-height: 100%;
  width: 100%;

  background: url(../img/index-bg.jpg) no-repeat center center;
  background-size: cover;
}

.index-drew,
.index-land{
  float: left;
  width: 100%;
}

.index-drew-text,
.index-land-text{
  @include animation-fade-up(1, .6, 1.5);

  margin: 0;
  padding: 0;

  font-size: 7rem;
  text-align: center;

  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  color: white;

  @include breakpoint($index-breakpoint){
    font-size: 12rem;
  }
}

.index-drew-text{
  margin-bottom: .5rem;
}

.index-nav{
  @include horizontal-list(.75rem, left);
  @include animation-fade-up(.1, .1, 1);

  float: left;
  width: 100%;

  text-align: center;

  @include breakpoint($index-breakpoint){
    padding: 0 2rem 0 2rem;
  }

  ul{
    display: inline-block;
  }

  a{
    @include hover-fade();

    font-size: 1.5rem;

    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);

    @include breakpoint($index-breakpoint){
      font-size: 2.5rem;
    }
  }
}
