//------
// Mixins
//------

@mixin animation-fade-up($delay: .1, $duration: .1, $speed: 1){
  animation-delay: $delay + s;
  animation-duration: $duration + s;
  animation: fadeInUp $speed + s;
}

@mixin hover-fade($opacity: .5, $duration: .2){
  &:hover{
    opacity: $opacity;
    transition: all ($duration + s) linear;
  }
}
