//-----
// Global Variables
//-----

$font-stack: 'Source Sans Pro', sans-serif;

//-----
// Breakpoints
//-----

$medium-screen: 40em;
$large-screen: 60em;

//-----
// Colors
//-----

$font-color: rgb(90, 89, 86);

//-----
// Header/Footer
//-----

$header-footer-bg-color: #f3f3f3;
$header-footer-a-color: black;
$header-footer-text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);

//-----
// Header
//-----

$header-height: 75px;

//-----
// Footer
//-----

$footer_height: 50px;
